<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<a href="c:\users\abhishek.chaudhary2\source\repos\BulkyBook\BulkyBookweb\views\shared\_validationscriptspartial.cshtml">c:\users\abhishek.chaudhary2\source\repos\BulkyBook\BulkyBookweb\views\shared\_validationscriptspartial.cshtml</a>